services:

  #####
  # reverse proxy for the whole environment
  #####

  nginx:
    profiles:
      - test
      - dev
    image: nginx:1.29.4-alpine
    network_mode: host
    environment:
      - NGINX_PORT=${NGINX_PORT}
      - SD_PORT=${SD_PORT}
      - DF_PORT=${DF_PORT}
      - EVENTS_PORT=${EVENTS_PORT}
      - PROCESSINGS_PORT=${PROCESSINGS_PORT}
      - DEV_API_PORT=${DEV_API_PORT}
      - DEV_UI_PORT=${DEV_UI_PORT}
      - DEV_PORTAL_PORT=${DEV_PORTAL_PORT}
    volumes:
      - ./dev/resources/nginx.conf.template:/etc/nginx/templates/default.conf.template:ro

  #####
  # required services from the data-fair stack
  #####

  simple-directory:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/simple-directory:master
    network_mode: host
    depends_on:
      - mongo
    environment:
      PORT: ${SD_PORT}
      ADMINS: |
        ["superadmin@test.com"]
      CIPHER_PASSWORD: dev
      CONTACT: contact@test.com
      MANAGE_SITES: true
      MONGO_URL: mongodb://localhost:${MONGO_PORT}/simple-directory
      OBSERVER_ACTIVE: false
      PUBLIC_URL: http://localhost:${NGINX_PORT}/simple-directory
      STORAGE_TYPE: file
      SECRET_SITES: secret-sites
      # When we test permissions, we need to authenticate many users from the same IP.
      AUTHRATELIMIT_ATTEMPTS: 500
      AUTHRATELIMIT_DURATION: 30
      # To test contact form
      MAILDEV_ACTIVE: true
      MAIL_DEV_URL: http://localhost:${MAILDEV_UI_PORT}
      MAILS_TRANSPORT: |
        {"port": "MAILDEV_SMTP_PORT","ignoreTLS": true,"host": "localhost"}
      ANONYMOUS_CONTACT_FORM: true

    volumes:
      - ./dev/resources/users.json:/app/data/users.json
      - ./dev/resources/organizations.json:/app/data/organizations.json

  data-fair:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/data-fair:master
    restart: on-failure:10
    network_mode: host
    depends_on:
      mongo:
        condition: service_started
      elasticsearch:
        condition: service_healthy
    environment:
      - PORT=${DF_PORT}
      - MONGO_URL=mongodb://localhost:${MONGO_PORT}/data-fair
      - ES_HOST=localhost:${ES_PORT}
      - DIRECTORY_URL=http://localhost:${NGINX_PORT}/simple-directory
      - PRIVATE_EVENTS_URL=http://localhost:${EVENTS_PORT}
      - PRIVATE_DIRECTORY_URL=http://localhost:${SD_PORT}
      - PUBLIC_URL=http://localhost:${NGINX_PORT}/data-fair
      - WS_PUBLIC_URL=ws://localhost:${NGINX_PORT}/data-fair
      - OBSERVER_ACTIVE=false
      - PRIVATE_PORTALS_MANAGER_URL=http://localhost:${DEV_API_PORT}
      - SECRET_EVENTS=secret-events

  #####
  # optional services
  #####

  events:
    profiles:
      - dev
    image: ghcr.io/data-fair/events:main
    network_mode: host
    environment:
      - PORT=${EVENTS_PORT}
      - MONGO_URL=mongodb://localhost:${MONGO_PORT}/data-fair-events
      - PRIVATE_DIRECTORY_URL=http://localhost:${NGINX_PORT}/simple-directory
      - SECRET_IDENTITIES=secret-identities
      - SECRET_EVENTS=secret-events
      - SECRET_SENDMAILS=secret-sendmails
      - OBSERVER_ACTIVE=false

  maildev:
    profiles:
      - dev
    image: maildev/maildev:2.1.0
    ports:
      - ${MAILDEV_UI_PORT}:1080
      - ${MAILDEV_SMTP_PORT}:1025
    # https://github.com/maildev/maildev/issues/484
    healthcheck:
      test: 'wget -O - http://127.0.0.1:$${MAILDEV_WEB_PORT}$${MAILDEV_BASE_PATHNAME}/healthz || exit 1'
  
  #####
  # db and search engine
  #####

  elasticsearch:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/elasticsearch:7.x
    ports:
      - ${ES_PORT}:9200
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ingest.geoip.downloader.enabled=false
      - ES_JAVA_OPTS=-Xms128m -Xmx128m -server
      - ES_HEAP_SIZE=128m
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  mongo:
    profiles:
      - test
      - dev
    image: mongo:4.2
    ports:
      - ${MONGO_PORT}:27017
    volumes:
      - mongo-data:/data/db

volumes:
  elasticsearch-data:
  mongo-data: