services:

  #####
  # reverse proxy for the whole environment
  #####

  nginx:
    profiles:
      - test
      - dev
    image: nginx:1.29.4-alpine
    network_mode: host
    volumes:
      - ./dev/resources/nginx.conf:/etc/nginx/nginx.conf:ro

  #####
  # required services from the data-fair stack
  #####

  simple-directory:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/simple-directory:master
    network_mode: host
    depends_on:
      - mongo
    environment:
      - PORT=8081
      - ADMINS=["superadmin@test.com"]
      - CIPHER_PASSWORD=dev
      - CONTACT=contact@test.com
      - MANAGE_SITES=true
      - MONGO_URL=mongodb://localhost:27018/simple-directory
      - OBSERVER_ACTIVE=false
      - PUBLIC_URL=http://localhost:5610/simple-directory
      - STORAGE_TYPE=file
      - SECRET_SITES=secret-sites
      # When we test permissions, we need to authenticate many users from the same IP.
      - AUTHRATELIMIT_ATTEMPTS=500
      - AUTHRATELIMIT_DURATION=30
      # To test contact form
      - MAILDEV_ACTIVE=true
      - ANONYMOUS_CONTACT_FORM=true

    volumes:
      - ./dev/resources/users.json:/app/data/users.json
      - ./dev/resources/organizations.json:/app/data/organizations.json

  data-fair:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/data-fair:master
    restart: on-failure:10
    network_mode: host
    depends_on:
      mongo:
        condition: service_started
      elasticsearch:
        condition: service_healthy
    environment:
      - PORT=8082
      - MONGO_URL=mongodb://localhost:27018/data-fair
      - DIRECTORY_URL=http://localhost:5610/simple-directory
      - PRIVATE_EVENTS_URL=http://localhost:8084
      - PRIVATE_DIRECTORY_URL=http://localhost:8081
      - PUBLIC_URL=http://localhost:5610/data-fair
      - WS_PUBLIC_URL=ws://localhost:5610/data-fair
      - OBSERVER_ACTIVE=false

      - PRIVATE_PORTALS_MANAGER_URL=http://localhost:8098
      - SECRET_EVENTS=secret-events

  #####
  # optional services
  #####

  events:
    profiles:
      - dev
    image: ghcr.io/data-fair/events:main
    network_mode: host
    environment:
      - PORT=8084
      - MONGO_URL=mongodb://localhost:27018/data-fair-events
      - PRIVATE_DIRECTORY_URL=http://localhost:5610/simple-directory
      - SECRET_IDENTITIES=secret-identities
      - SECRET_EVENTS=secret-events
      - SECRET_SENDMAILS=secret-sendmails
      - OBSERVER_ACTIVE=false

  maildev:
    profiles:
      - dev
    image: maildev/maildev:2.1.0
    ports:
      - 1081:1081
      - 1026:1026
    # https://github.com/maildev/maildev/issues/484
    healthcheck:
      test: 'wget -O - http://127.0.0.1:$${MAILDEV_WEB_PORT}$${MAILDEV_BASE_PATHNAME}/healthz || exit 1'
  
  #####
  # db and search engine
  #####

  elasticsearch:
    profiles:
      - dev
      - test
    image: ghcr.io/data-fair/elasticsearch:7.x
    network_mode: host
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ingest.geoip.downloader.enabled=false
      - ES_JAVA_OPTS=-Xms128m -Xmx128m -server
      - ES_HEAP_SIZE=128m
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  mongo:
    profiles:
      - test
      - dev
    image: mongo:4.2
    ports:
      - 27018:27017
    volumes:
      - mongo-data:/data/db

volumes:
  elasticsearch-data:
  mongo-data: