@media only screen and (min-width: 1904px){
  .container.padded {
    max-width:100%!important;
  }

  .container:not(.container--fluid) {
    max-width:1315px!important;
  }
}

@media only screen and (min-width: 1904px){
  .main-app-bar:not(.app-bar-fluid) .v-toolbar__extension {
      max-width:1315px!important;
  }
}

iframe {
  background-color: transparent;
  border: none;
}

.v-tabs__slider {
    height: 4px!important;
}

#app .v-card__text, #app .v-card__title {
  word-break: normal;
}

.v-list.list-actions .v-list-item .v-list-item__icon {
  margin-right: 16px;
}

/* select-sort class is used in applications and datasets lists */
.select-sort .v-input__append-outer {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* darker outlined cards */
.v-application#app .theme--light.v-sheet.v-sheet--outlined {
  border: 1px solid rgba(0, 0, 0, 0.22);
}
.v-application#app .theme--light.v-sheet.also-outlined {
  border: 1px solid rgba(0, 0, 0, 0.16);
}
.v-application#app .theme--light.v-sheet.also-outlined {
  padding: 1px;
}
.v-application#app .theme--light.v-sheet.not-outlined {
  border: 2px solid transparent;
}

/* vjsf tuning */
#app .vjsf-property .v-input--hide-details {
  margin-bottom: 12px;
}
#app .vjsf-property .v-input--hide-details .v-radio:not(:last-child),
#app .vjsf-property .v-input--hide-details .v-input--selection-controls,
#app .vjsf-property.no-margin .v-input {
  margin-bottom: 0px;
}
#app .vjsf-property .v-input--hide-details .v-radio:last-child,
#app .vjsf-property .v-input--hide-details .v-input--selection-controls:last-child {
  margin-bottom: 8px;
}
#app .vjsf-property .v-text-field--outlined .v-input__append-outer {
  margin-top: 2px;
}
#app .vjsf-property .v-input--selection-controls .v-input__append-outer {
  margin-top: -6px;
}
#app .vjsf-array {
  margin-bottom: 6px;
}

/* https://www.nomensa.com/blog/how-improve-web-accessibility-hiding-elements */
.hide-element {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

table>thead>tr>th {
  color: rgba(0, 0, 0, 0.6);
}

table>thead>tr:last-child>th {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
}

table>tbody>tr:not(:last-child)>td:not(.v-data-table__mobile-row),
table>tbody>tr:not(:last-child)>th:not(.v-data-table__mobile-row) {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
}

table>tbody>tr:not(:last-child)>td:last-child,
table>tbody>tr:not(:last-child)>th:last-child {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
}

table>tbody>tr.active {
  background: #f5f5f5;
}

table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #eeeeee;
}

table>tfoot>tr>td:not(.v-data-table__mobile-row),
table>tfoot>tr>th:not(.v-data-table__mobile-row) {
  border-top: thin solid rgba(0, 0, 0, 0.12);
}

table {
  width: 100%;
  border-spacing: 0;
}

table>tbody>tr>td,
table>tbody>tr>th,
table>thead>tr>td,
table>thead>tr>th,
table>tfoot>tr>td,
table>tfoot>tr>th {
  padding: 0 16px;
  transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1);
}

table>tbody>tr>th,
table>thead>tr>th,
table>tfoot>tr>th {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 0.75rem;
  height: 48px;
}

table>tbody>tr>td,
table>thead>tr>td,
table>tfoot>tr>td {
  font-size: 0.875rem;
  height: 48px;
}