@media only screen and (min-width: 1904px){
  .container.padded {
    max-width:100%!important;
  }

  .container:not(.container--fluid) {
    max-width:1315px!important;
  }
}

@media only screen and (min-width: 1904px){
  .main-app-bar:not(.app-bar-fluid) .v-toolbar__extension {
      max-width:1315px!important;
  }
}

iframe {
  background-color: transparent;
  border: none;
}

.v-tabs__slider {
    height: 4px!important;
}

#app .v-card__text, #app .v-card__title {
  word-break: normal;
}

.v-list.list-actions .v-list-item .v-list-item__icon {
  margin-right: 16px;
}

/* select-sort class is used in applications and datasets lists */
.select-sort .v-input__append-outer {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* darker outlined cards */
.v-application#app .theme--light.v-sheet.v-sheet--outlined {
  border: 1px solid rgba(0, 0, 0, 0.22);
}
.v-application#app .theme--light.v-sheet.also-outlined {
  border: 1px solid rgba(0, 0, 0, 0.16);
}
.v-application#app .theme--light.v-sheet.also-outlined {
  padding: 1px;
}
.v-application#app .theme--light.v-sheet.not-outlined {
  border: 2px solid transparent;
}

/* vjsf tuning */
#app .vjsf-property .v-input--hide-details {
  margin-bottom: 12px;
}
#app .vjsf-property .v-input--hide-details .v-radio:not(:last-child),
#app .vjsf-property .v-input--hide-details .v-input--selection-controls,
#app .vjsf-property.no-margin .v-input {
  margin-bottom: 0px;
}
#app .vjsf-property .v-input--hide-details .v-radio:last-child,
#app .vjsf-property .v-input--hide-details .v-input--selection-controls:last-child {
  margin-bottom: 8px;
}
#app .vjsf-property .v-text-field--outlined .v-input__append-outer {
  margin-top: 2px;
}
#app .vjsf-property .v-input--selection-controls .v-input__append-outer {
  margin-top: -6px;
}
#app .vjsf-array {
  margin-bottom: 6px;
}

/* https://www.nomensa.com/blog/how-improve-web-accessibility-hiding-elements */
.hide-element {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
