$body-font-family: 'Nunito', serif;
$btn-outline-border-width: 2px;
$card-hover-elevation: 8;
$card-elevation: 1;

$btn-focus-opacity: 0.08;
$btn-active-opacity: 0.08;

$material-light: (
  'text-fields': (
    'outlined': rgba(#000000, 0.54)
  )
);
