
    server {
        listen ${NGINX_PORT};
        server_name _;
        http2 on;
        client_max_body_size 0;

        # Transmit host, protocol and user ip, we use it for routing, rate limiting, etc.
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Client-IP $remote_addr;

        # web socket support
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";

        # hmr
        proxy_read_timeout 86400;

        location = / {
          if ($host = "localhost") {
            return 302 /portals-manager/dev;
          }
          proxy_pass http://localhost:${DEV_PORTAL_PORT};
        }
        
        location = /portals-manager/ {  
          return 302 /portals-manager/dev;
        }

        location / {
          proxy_pass http://localhost:${DEV_PORTAL_PORT};
        }

        location /portals-manager/api/ {
          proxy_pass http://localhost:${DEV_API_PORT};
        }

        location ~ /portals-manager/(.*)-ui-config.js {
          proxy_pass http://localhost:${DEV_API_PORT};
        }
        location /portals-manager/ {
          proxy_pass http://localhost:${DEV_UI_PORT};
        }

        location /simple-directory/ {
          proxy_pass http://localhost:${SD_PORT};
        }

        location /data-fair {
          rewrite  ^/data-fair/(.*) /$1 break;
          proxy_pass http://localhost:${DF_PORT};
        }

        location /events/ {
            proxy_pass http://localhost:${EVENTS_PORT};
        }

        location /processings/ {
            proxy_pass http://localhost:${PROCESSINGS_PORT};
        }

        location /openapi-viewer/ {
            return 200 "Service openapi-viewer (inactif en dev)\nUrl = $scheme://$http_host$request_uri";
            add_header Content-Type text/plain;
        }
    }
